parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Console\\\\Commands\\\\ShiftLumen8ToLaravel8\\:\\:handle\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Console/Commands/ShiftLumen8ToLaravel8.php

		-
			message: "#^Class App\\\\Http\\\\Middleware\\\\Authenticate not found\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^Class App\\\\Http\\\\Middleware\\\\EncryptCookies not found\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^Class App\\\\Http\\\\Middleware\\\\PreventRequestsDuringMaintenance not found\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^Class App\\\\Http\\\\Middleware\\\\RedirectIfAuthenticated not found\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^Class App\\\\Http\\\\Middleware\\\\TrimStrings not found\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^Class App\\\\Http\\\\Middleware\\\\TrustProxies not found\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^Class App\\\\Http\\\\Middleware\\\\ValidateSignature not found\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^Class App\\\\Http\\\\Middleware\\\\VerifyCsrfToken not found\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^Argument of an invalid type array\\|null supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: app/Shift/FileMover/FixFile.php

		-
			message: "#^Cannot access offset int on array\\<int, string\\>\\|false\\.$#"
			count: 1
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^Method App\\\\Shift\\\\FileMover\\\\FixMethod\\:\\:chopTokens\\(\\) has parameter \\$tokens with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^Method App\\\\Shift\\\\FileMover\\\\FixMethod\\:\\:chopTokens\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^Method App\\\\Shift\\\\FileMover\\\\FixMethod\\:\\:fix\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^Method App\\\\Shift\\\\FileMover\\\\FixMethod\\:\\:fixMethod\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^Method App\\\\Shift\\\\FileMover\\\\FixMethod\\:\\:removePhpTags\\(\\) has parameter \\$tokens with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^Method App\\\\Shift\\\\FileMover\\\\FixMethod\\:\\:removePhpTags\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^Offset mixed does not exist on array\\|null\\.$#"
			count: 3
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^Offset string does not exist on array\\|null\\.$#"
			count: 1
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^Parameter \\#1 \\$array of function array_filter expects array, array\\|null given\\.$#"
			count: 2
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^Parameter \\#1 \\$array of function array_flip expects array\\<int\\|string\\>, array\\|null given\\.$#"
			count: 2
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^Parameter \\#1 \\$array of function array_keys expects array, array\\|null given\\.$#"
			count: 1
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^Parameter \\#1 \\$array of function array_reduce expects array, array\\|null given\\.$#"
			count: 1
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^Parameter \\#1 \\$separator of function implode expects array\\|string, null given\\.$#"
			count: 4
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^Possibly invalid array key type \\(array\\<int, string\\>\\|string\\)\\.$#"
			count: 2
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^Property App\\\\Shift\\\\FileMover\\\\FixMethod\\:\\:\\$availableVariables type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^Property App\\\\Shift\\\\FileMover\\\\FixMethod\\:\\:\\$tokens type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/FileMover/FixMethod.php

		-
			message: "#^PHPDoc tag @var for property App\\\\Shift\\\\Objects\\\\ClassMethod\\:\\:\\$params with type array\\<App\\\\Shift\\\\Objects\\\\MethodParam\\>\\|null is not subtype of native type array\\.$#"
			count: 1
			path: app/Shift/Objects/ClassMethod.php

		-
			message: "#^Method App\\\\Shift\\\\Objects\\\\ClassVariable\\:\\:typeFromDocBlock\\(\\) never returns null so it can be removed from the return type\\.$#"
			count: 1
			path: app/Shift/Objects/ClassVariable.php

		-
			message: "#^Property App\\\\Shift\\\\Objects\\\\ClassVariable\\:\\:\\$type \\(string\\|null\\) does not accept PhpParser\\\\Node\\\\ComplexType\\|PhpParser\\\\Node\\\\Identifier\\|PhpParser\\\\Node\\\\Name\\|string\\|null\\.$#"
			count: 1
			path: app/Shift/Objects/ClassVariable.php

		-
			message: "#^Method App\\\\Shift\\\\Objects\\\\FileClass\\:\\:analyzeNode\\(\\) has parameter \\$node with no type specified\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^Method App\\\\Shift\\\\Objects\\\\FileClass\\:\\:availableMethods\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^Method App\\\\Shift\\\\Objects\\\\FileClass\\:\\:availableVariables\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^Method App\\\\Shift\\\\Objects\\\\FileClass\\:\\:classMap\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^Method App\\\\Shift\\\\Objects\\\\FileClass\\:\\:className\\(\\) never returns null so it can be removed from the return type\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^Method App\\\\Shift\\\\Objects\\\\FileClass\\:\\:hasParentClass\\(\\) should return bool but returns int\\|false\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^Offset 0 does not exist on array\\<PhpParser\\\\Node\\\\Stmt\\>\\|null\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^PHPDoc tag @var for property App\\\\Shift\\\\Objects\\\\FileClass\\:\\:\\$methods with type array\\<App\\\\Shift\\\\Objects\\\\ClassMethod\\>\\|null is not subtype of native type array\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^PHPDoc tag @var for property App\\\\Shift\\\\Objects\\\\FileClass\\:\\:\\$properties with type array\\<App\\\\Shift\\\\Objects\\\\ClassVariable\\>\\|null is not subtype of native type array\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^Parameter \\#1 \\$array of function array_filter expects array, array\\|null given\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^Parameter \\#1 \\$fileContents of class App\\\\Shift\\\\TypeDetector\\\\FileAnalyzer constructor expects string, string\\|false given\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^Parameter \\#1 \\$fileContents of method App\\\\Shift\\\\Objects\\\\FileClass\\:\\:analyzeClass\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^Parameter \\#2 \\$className of class App\\\\Shift\\\\Objects\\\\ClassMethod constructor expects string, string\\|null given\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^Parameter \\#2 \\$className of class App\\\\Shift\\\\Objects\\\\ClassVariable constructor expects string, string\\|null given\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$arrays of function array_merge expects array, array\\|null given\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^Property App\\\\Shift\\\\Objects\\\\FileClass\\:\\:\\$fileContents \\(string\\) does not accept string\\|false\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^Property App\\\\Shift\\\\Objects\\\\FileClass\\:\\:\\$uses type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Objects/FileClass.php

		-
			message: "#^Access to an undefined property PhpParser\\\\Node\\\\Expr\\\\Error\\|PhpParser\\\\Node\\\\Expr\\\\Variable\\:\\:\\$name\\.$#"
			count: 1
			path: app/Shift/Objects/MethodParam.php

		-
			message: "#^Property App\\\\Shift\\\\Objects\\\\MethodParam\\:\\:\\$name \\(string\\) does not accept PhpParser\\\\Node\\\\Expr\\|string\\.$#"
			count: 1
			path: app/Shift/Objects/MethodParam.php

		-
			message: "#^Argument of an invalid type array\\<int, string\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Binary operation \"\\.\\=\" between array\\<int, string\\>\\|string\\|null and ',' results in an error\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:addLaravelFiles\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:addLaravelFiles\\(\\) has parameter \\$destinationDirectory with no type specified\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:addLaravelFiles\\(\\) has parameter \\$sourceDirectory with no type specified\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:addLaravelFiles\\(\\) is unused\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:bootstrapAliases\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:bootstrapMiddlewares\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:bootstrapProviders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:configAliases\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:configProviders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:configProviders\\(\\) should return array but returns array\\<int, string\\>\\|false\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:fixConfig\\(\\) has parameter \\$directory with no type specified\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:fixFiles\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:fixFiles\\(\\) has parameter \\$directory with no type specified\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:fixKernelMiddlewareGroups\\(\\) has parameter \\$groups with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:fixKernelMiddlewareGroups\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:kernelMiddlewares\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:kernelMiddlewares\\(\\) should return array but returns array\\<int, string\\>\\|false\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:run\\(\\) has parameter \\$directory with no type specified\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:splitBootstrapArray\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:splitBootstrapArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:splitMiddlewareGroups\\(\\) has parameter \\$groups with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:splitMiddlewareGroups\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:uniqueProviders\\(\\) has parameter \\$configProviders with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:uniqueProviders\\(\\) has parameter \\$providers with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shift\\:\\:uniqueProviders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Offset 0 does not exist on string\\|null\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Parameter \\#1 \\$bootstrap of method App\\\\Shift\\\\Shift\\:\\:bootstrapAliases\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Parameter \\#1 \\$bootstrap of method App\\\\Shift\\\\Shift\\:\\:bootstrapMiddlewares\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Parameter \\#1 \\$bootstrap of method App\\\\Shift\\\\Shift\\:\\:bootstrapProviders\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Parameter \\#1 \\$config of method App\\\\Shift\\\\Shift\\:\\:configAliases\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Parameter \\#1 \\$config of method App\\\\Shift\\\\Shift\\:\\:configProviders\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Parameter \\#1 \\$kernel of method App\\\\Shift\\\\Shift\\:\\:fixKernelMiddlewareGroups\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Parameter \\#1 \\$kernel of method App\\\\Shift\\\\Shift\\:\\:kernelMiddlewares\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|null given\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$arrays of function array_merge expects array, array\\<mixed, mixed\\>\\|string given\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Parameter \\#2 \\$haystack of function array_search expects array, array\\<int, string\\>\\|false given\\.$#"
			count: 2
			path: app/Shift/Shift.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, string\\|null given\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Parameter \\#3 \\$subject of function preg_replace expects array\\|string, string\\|false given\\.$#"
			count: 3
			path: app/Shift/Shift.php

		-
			message: "#^Parameter \\#3 \\$subject of function preg_replace expects array\\|string, string\\|null given\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Possibly invalid array key type \\(array\\<int, string\\>\\|string\\)\\.$#"
			count: 2
			path: app/Shift/Shift.php

		-
			message: "#^Property App\\\\Shift\\\\Shift\\:\\:\\$filesToOverwrite is never read, only written\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Property App\\\\Shift\\\\Shift\\:\\:\\$filesToOverwrite type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Property App\\\\Shift\\\\Shift\\:\\:\\$overLappingFiles is never read, only written\\.$#"
			count: 1
			path: app/Shift/Shift.php

		-
			message: "#^Method App\\\\Shift\\\\Shifter\\\\CommonUpdates\\:\\:commonChanges\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shifter/CommonUpdates.php

		-
			message: "#^Method App\\\\Shift\\\\Shifter\\\\DepreciatedPackages\\:\\:depreciatedPackaged\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shifter/DepreciatedPackages.php

		-
			message: "#^Method App\\\\Shift\\\\Shifter\\\\PackageUpdates\\:\\:methodChanges\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/Shifter/PackageUpdates.php

		-
			message: "#^Method App\\\\Shift\\\\TokenTraverser\\\\TokenTraverser\\:\\:__construct\\(\\) has parameter \\$tokens with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/TokenTraverser/TokenTraverser.php

		-
			message: "#^Method App\\\\Shift\\\\TokenTraverser\\\\TokenTraverser\\:\\:getParams\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Shift/TokenTraverser/TokenTraverser.php

		-
			message: "#^Method App\\\\Shift\\\\TypeDetector\\\\FileAnalyzer\\:\\:useStatements\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/TypeDetector/FileAnalyzer.php

		-
			message: "#^Method App\\\\Shift\\\\TypeDetector\\\\TypeDetector\\:\\:classMap\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/TypeDetector/TypeDetector.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match expects string, string\\|false given\\.$#"
			count: 1
			path: app/Shift/TypeDetector/TypeDetector.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match_all expects string, string\\|false given\\.$#"
			count: 1
			path: app/Shift/TypeDetector/TypeDetector.php

		-
			message: "#^Property App\\\\Shift\\\\TypeDetector\\\\TypeDetector\\:\\:\\$primitiveTypes type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/TypeDetector/TypeDetector.php

		-
			message: "#^Property App\\\\Shift\\\\TypeDetector\\\\TypeDetector\\:\\:\\$selfReferringTypes type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Shift/TypeDetector/TypeDetector.php
